name: Verify JUnit 6

on:
  push:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch: # allows manual triggering

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    
    name: Verify compatibility of JUnit 5 infrastructure with JUnit 6

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew clean build -PjavaVersion='21' -PverifyJUnit6
